@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 0 2px 5px gray;
}

/* buttons  */
/* ************************** */
.btn-primary {
  @apply bg-primary-700 rounded w-fit px-3 py-1 text-white  font-semibold  hover:bg-primary-500 transition-all duration-200 cursor-pointer;
}
.btn-secondary {
  @apply bg-secondary-700 rounded w-fit px-3 py-1 text-white  font-semibold  hover:bg-secondary-900  transition-all duration-200 cursor-pointer;
}

.btn-neutral {
  @apply bg-white rounded w-fit px-3 py-1 text-neutral-900 font-semibold  hover:bg-neutral-200  transition-all duration-200 cursor-pointer;
}

.btn-outline-primary {
  @apply border border-primary-700 rounded w-fit px-3 py-1 text-primary-700  font-semibold  hover:bg-primary-700 hover:text-white transition-all duration-200 cursor-pointer;
}
.btn-outline-secondary {
  @apply border border-secondary-700 rounded w-fit px-3 py-1 text-secondary-700  font-semibold  hover:bg-secondary-700 hover:text-white transition-all duration-200 cursor-pointer;
}

.btn-outline-neutral {
  @apply border border-white rounded w-fit px-3 py-1 text-white font-semibold  hover:bg-white hover:text-neutral-900  transition-all duration-200 cursor-pointer;
}

/* logo text*/
.logo {
  @apply font-black sm:text-2xl uppercase text-white tracking-[5px];
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-opacity: 0.3;
  --swiper-pagination-bullet-inactive-color: #184e77;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: #184e77;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #184e77;
  --swiper-navigation-sides-offset: -5px;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  background: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  padding: 5px;
}

/*  */

.optionsContainer {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 200ms;
}
.optionsContainer.open {
  grid-template-rows: 1fr;
}
